@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
  --color-vgr-blue: #005b89;
}

.greyBg {
  background-color: #f9fafb;

}

.testClass {
  color: #0c3043;
  color: #1f2937;
  color: #d1d5db;

}