@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
  --color-vgr-blue: #005b89;
}

.greyBg {
  background-color: #f9fafb;

}

.testClass {
  darkBg: #111827;
  semiDarkBg: #0c3043;
  darkSurface: #1f2937;
  darkBorder: #374151;
  darkText: #f9fafb;
  darkTextSecondary: #d1d5db;
}